
h1{
    color: red;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: white;
    opacity: 75%;
    text-align: center;
}
link.hover {
    color: yellow;
    
}
#words{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: red;
    background-color: white;
    font-weight: bold;
    text-align: center;
    opacity: 75%;
    
}
#opacity{
    opacity: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: red;
    font-weight: bold;
    text-align: center;
}

#logo{
    width: 50%;
    height: 300px;
    margin-left: 25%;
}
body{
<<<<<<< HEAD
    background-image:url(../images/Iel1fSg-pokemon-wallpaper.jpg);
=======
    background-image:url(Iel1fSg-pokemon-wallpaper.jpg);
>>>>>>> 3a563a7cd89147e34232b3b436c432d31e83742a
    
}
#charizard{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
#zeraora{
    box-sizing: border-box;
    margin-left: 10px;
    margin-right:10px;
    float: right;
    margin-top: 50px;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
=======
>>>>>>> 775234b58baa6c1f46a63d1e421cb74797980a15
h1{
    color: red;
}
link.hover {
    color: yellow;
<<<<<<< HEAD
=======
>>>>>>> 3a563a7cd89147e34232b3b436c432d31e83742a
=======
>>>>>>> 775234b58baa6c1f46a63d1e421cb74797980a15
}