
h1{
    color: red;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: white;
    opacity: 75%;
    text-align: center;
}
link.hover {
    color: yellow;
    
}
#words{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: red;
    background-color: white;
    font-weight: bold;
    text-align: center;
    opacity: 75%;
    
}
#opacity{
    opacity: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: red;
    font-weight: bold;
    text-align: center;
}

#logo{
    width: 50%;
    height: 300px;
    margin-left: 25%;
}
body{
    background-image:url(../images/Iel1fSg-pokemon-wallpaper.jpg);
    
}
#charizard{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
#zeraora{
    box-sizing: border-box;
    margin-left: 10px;
    margin-right:10px;
    float: right;
    margin-top: 50px;
}
h1{
    color: red;
}
link.hover {
    color: yellow;
}